/.gradle
/.idea
/.kotlin
/.run
/backend
/build
/gradle

/email/node_modules
/email/package.json

/web/.angular
/web/node_modules
/web/dist

build.gradle.kts
gradlew
gradlew.bat
package.json
pnpm-lock.yaml
settings.gradle.kts
