POWERUPTIME_VERSION="1.0.0"

HOST="abc.not-existing"

DATABASE_HOST="poweruptime-backend-postgres-1"
DATABASE_PORT="5432"
DATABASE_NAME="poweruptime"
DATABASE_USER="poweruptime"
DATABASE_PASSWORD="poweruptime"

RABBIT_HOST="poweruptime-backend-rabbitmq-1"
RABBIT_PORT="5672"
RABBIT_USERNAME="poweruptime"
RABBIT_PASSWORD="poweruptime"

NTFY_USERNAME="poweruptime"
NTFY_PASSWORD="poweruptime"

MAIL_HOST=""
MAIL_PORT=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
