POWERUPTIME_VERSION="3.0.0-lava-1676653500745"

POWERUPTIME_PORT="8080"
POWERUPTIME_KEYS_DIRECTORY="/var/lib/poweruptime/authentication-keys"
HOST="lava.kellner.team"
SWAGGER_ENABLED="true"

DATABASE_TYPE="postgresql"
DATABASE_HOST="poweruptime-backend-postgres-1"
DATABASE_PORT="5432"
DATABASE_NAME="poweruptime"
DATABASE_USER="poweruptime"
DATABASE_PASSWORD="poweruptime"
DATABASE_SPRING_DIALECT="org.hibernate.dialect.PostgreSQLDialect"

RABBIT_HOST="poweruptime-backend-rabbitmq-1"
RABBIT_PORT="5672"
RABBIT_USERNAME="poweruptime"
RABBIT_PASSWORD="poweruptime"

TEMP_NOTIFICATIONS_ENABLED="true"

RATE_LIMIT_ENABLED="true"
RATE_LIMIT_DURATION_IN_SECONDS="120"
RATE_LIMIT_TRIES="40"