@use '@angular/material' as mat;
@use './theme-colors' as tc;

$config: (
  color: tc.$primary-palette,
  density: -1,
);

html {
  color-scheme: light;
  @include mat.theme($config);

  @include mat.sidenav-overrides(
    (
      container-divider-color: lightgray,
    )
  );

  .dark {
    color-scheme: dark;

    @include mat.sidenav-overrides(
      (
        container-divider-color: #52525b,
      )
    );

    .active-card {
      @include mat.card-overrides(
        (
          outlined-outline-color: lightgray,
        )
      );
    }
  }
}

.secondary-button {
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-secondary),
      filled-label-text-color: var(--mat-sys-on-secondary),
    )
  );
}

.error-button {
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-error-container),
      filled-label-text-color: var(--mat-sys-on-error-container),
    )
  );
}

.active-card {
  @include mat.card-overrides(
    (
      outlined-outline-color: gray,
    )
  );
}

body {
  margin: 0;
  padding: 0;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

/** Fix; Angular Material + TailwindCSS conflict
https://stackoverflow.com/questions/75535246/angular-mat-form-field-not-working-properly-a-border-line-appears-inside-the-f **/
.mdc-notched-outline__notch {
  border-right: none;
}

/* Fix vertical text alignment in buttons with icons */
.mdc-icon-button > bi {
  vertical-align: 7px;
}

.mdc-fab > .mdc-button__label > bi {
  vertical-align: -0.26rem !important;
}

.mdc-button > .mdc-button__label > bi {
  margin-right: 0.3em;
  vertical-align: -0.15em;
}

.mat-mdc-chip-action-label > bi {
  vertical-align: -0.19em;
}

.mat-mdc-menu-item-text > bi {
  vertical-align: -0.4em;
  margin-right: 0.4em;
}

.mdc-list-item__primary-text > bi {
  vertical-align: -0.26rem;
  margin-right: 0.7em;
}

/* Material Table Column Width */
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.mdc-button {
  .mat-mdc-progress-spinner {
    margin-left: 0.6rem;
  }
}

.mat-chip-tag {
  @include mat.chips-overrides(
    (
      label-text-color: var(--mat-chip-label-text-color),
      outline-color: var(--mat-chip-outline-color),
    )
  );
}
