.vercel {
  .cmdk-group,
  .cmdk-list,
  .cmdk-command {
    display: block;
  }
  .cmdk-command {
    max-width: 640px;
    padding: 8px;
    background-color: var(--mat-app-background-color); // Default to dark theme background
    color: var(--mat-app-text-color); // Default to dark theme background
    border-radius: 12px;
    overflow: hidden;
    font-family: var(--font-sans), sans-serif;
    border: 1px solid var(--gray6);
    box-shadow: var(--cmdk-shadow);
    transition: transform 100ms ease;
  }

  .cmdk-input {
    font-family: var(--font-sans), sans-serif;
    border: none;
    width: 100%;
    font-size: 17px;
    padding: 8px 8px 16px 8px;
    outline: none;
    color: var(--mat-app-text-color); // Default to dark theme background
    background-color: var(--mat-app-background-color);
    border-bottom: 1px solid var(--gray6);
    margin-bottom: 16px;
    border-radius: 0;

    &::placeholder {
      color: var(--gray9);
    }
  }

  .cmdk-item {
    content-visibility: auto;

    cursor: pointer;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    color: var(--mat-app-text-color); // Default to dark theme background
    user-select: none;
    will-change: background, color;
    transition: all 150ms ease;
    transition-property: none;

    &[aria-selected='true'] {
      background: var(--mat-select-panel-background-color);
      color: var(--mat-option-selected-state-label-text-color); // Default to dark theme background
    }

    &[aria-disabled='true'] {
      color: var(--mat-app-text-color);
      cursor: not-allowed;
    }

    &:active {
      transition-property: background;
      background: var(--mat-select-panel-background-color);
      color: var(--mat-option-selected-state-label-text-color); // Default to dark theme background
    }

    &:hover {
      transition-property: background;
      background: var(--mat-select-panel-background-color);
      color: var(--mat-option-selected-state-label-text-color); // Default to dark theme background
    }

    &:focus {
      outline: none;
      background: var(--mat-select-panel-background-color);
      color: var(--mat-option-selected-state-label-text-color); // Default to dark theme background
    }

    & + .cmdk-item {
      margin-top: 4px;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .cmdk-list {
    min-height: min(330px, calc(var(--cmdk-list-height)));
    max-height: 400px;
    overflow: auto;
    overscroll-behavior: contain;
    transition: 100ms ease;
    transition-property: height;
  }

  .cmdk-vercel-shortcuts {
    display: flex;
    margin-left: auto;
    gap: 8px;

    kbd {
      font-family: var(--font-sans), sans-serif;
      font-size: 12px;
      min-width: 20px;
      padding: 4px;
      height: 20px;
      border-radius: 4px;
      color: var(--mat-app-text-color);
      background-color: var(--mat-sys-on-background); // Default to dark theme background
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
    }
  }

  .cmdk-separator hr {
    height: 1px;
    width: 100%;
    background: var(--gray5);
    margin: 4px 0;
  }

  .cmdk-group {
    display: block;
  }

  *:not([hidden]) + .cmdk-group {
    margin-top: 8px;
  }

  .cmdk-group-label {
    user-select: none;
    font-size: 12px;
    color: var(--mat-app-text-color);
    padding: 0 8px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .cmdk-empty {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    white-space: pre-wrap;
    color: var(--mat-app-text-color);
  }
}
