DB_IMAGE="postgres:17.2-bookworm"
RABBIT_IMAGE="rabbitmq:4.0.5"
TRAEFIK_IMAGE="traefik:v3.2"
NTFY_IMAGE="binwiederhier/ntfy:v2.11.0"
DOCKER_SOCKET="tecnativa/docker-socket-proxy:0.3"

POWERUPTIME_VERSION="1.0.0"

POWERUPTIME_HOST="abc.not-existing"

DATABASE_HOST="poweruptime-db"
DATABASE_PORT="5432"
DATABASE_NAME="poweruptime"
DATABASE_USER="poweruptime"
DATABASE_PASSWORD="poweruptime"

RABBIT_HOST="poweruptime-rabbitmq"
RABBIT_PORT="5672"
RABBIT_USERNAME="poweruptime"
RABBIT_PASSWORD="poweruptime"

NTFY_USERNAME="poweruptime-ntfy"
NTFY_USERNAME="poweruptime"
NTFY_PASSWORD="poweruptime"

MAIL_HOST=""
MAIL_PORT=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
