POWERUPTIME_HOST="abc.not-existing"

DATABASE_PORT="5432"
DATABASE_NAME="poweruptime"
DATABASE_USER="poweruptime"
DATABASE_PASSWORD="poweruptime"

RABBIT_HOST="poweruptime-rabbitmq"
RABBIT_PORT="5672"
RABBIT_USERNAME="poweruptime"
RABBIT_PASSWORD="poweruptime"

MAIL_HOST=""
MAIL_PORT=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
