@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-motion";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-neutral-100: #ececed;
  --color-neutral-200: #bfbfbf;
  --color-neutral-300: #737373;
  --color-neutral-400: #484847;
  --color-neutral-500: #000000;
  --color-neutral-000: #ffffff;

  --color-bg-light: #f2f2f2;
  --color-bg-dark: #000c07;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --animate-caret-blink: caret-blink 1.2s ease-out infinite;
}
@keyframes caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  50% {
    opacity: 0;
  }
}
.animate-caret-blink {
  animation: var(--animate-caret-blink);
}

.mat-mdc-text-field-wrapper {
  .mat-mdc-form-field-icon-suffix {
    @apply p-1 pe-4;
  }
}

/* Fix select search transparent input */
.mat-select-search-input {
  background: var(--mat-sys-surface) !important;
}

/* Column Width */
.mat-column-select {
  @apply w-28;
}

.mat-column-createdAt {
  @apply w-32;
}

.mat-column-actions {
  @apply whitespace-nowrap;
}

.mat-column-actions > * {
  @apply mr-2;
}

/* kill the extra margin on the last child */
.mat-column-actions > *:last-child {
  @apply mr-0;
}

.mat-column-deleted {
  @apply w-52;
}

.tox-promotion-link {
  display: none !important;
}

pu-copy-icon-button {
  height: 36px;
}
