@use '../node_modules/.pnpm/@angular+material@19.1.1_4tgsfctdq4lbdibvv4mnlgjh7i/node_modules/@angular/material/index'
  as mat;
@use '../node_modules/.pnpm/@ng-matero+extensions@19.0.1_@angular+animations@19.1.3_@angular+core@19.1.3_rxjs@7.8.1_zone._b23xnm6hu2mkfphnxo6vphqtxi/node_modules/@ng-matero/extensions/index'
  as mtx;

@use 'sass:map';

@use '../node_modules/@ngxpert/cmdk/styles/scss/globals';
@use 'assets/vercel-cmdk';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

// Define a dark theme
$dark-config: (
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
);

// Merge the Material theme with Material Extensions theme
$dark-theme: mat.private-deep-merge-all(
  mat.define-theme($dark-config),
  mtx.define-theme($dark-config)
);

// Define a light theme
$light-config: (
  color: (
    theme-type: 'light',
    primary: mat.$violet-palette,
  ),
);

// Merge the Material theme with Material Extensions theme
$light-theme: mat.private-deep-merge-all(
  mat.define-theme($light-config),
  mtx.define-theme($light-config)
);

html {
  // Apply the dark theme by default
  @include mat.all-component-themes($light-theme);

  // Apply the light theme only when the user prefers light themes.
  .dark {
    // Use the `-color` mixins to only apply color styles without reapplying the same
    // typography and density styles.
    @include mat.all-component-colors($dark-theme);

    /** Style editor **/
    & {
      --ngx-editor-background-color: #000 !important;
      --ngx-editor-text-color: #f9fafb !important;
      --ngx-editor-placeholder-color: 000 !important;
      --ngx-editor-border-color: white !important;
      --ngx-editor-wrapper-border-color: white !important;

      --ngx-editor-menubar-bg-color: #000 !important;

      --ngx-editor-blockquote-color: #ddd;
      --ngx-editor-blockquote-border-width: 3px;

      --ngx-editor-popup-bg-color: #000 !important;
      --ngx-editor-popup-shadow: #1f2937 0px 2px 6px 2px !important;

      --ngx-editor-menu-item-active-color: white !important;
      --ngx-editor-menu-item-hover-bg-color: #9ca3af !important;
      --ngx-editor-menu-item-active-bg-color: #374151 !important;

      --ngx-editor-seperator-color: #ccc !important;

      --ngx-editor-bubble-bg-color: #000 !important;
      --ngx-editor-bubble-text-color: #fff !important;
      --ngx-editor-bubble-item-hover-color: #636262;
      --ngx-editor-bubble-seperator-color: #fff;

      --ngx-editor-focus-ring-color: white !important;
      --ngx-editor-error-color: red;
    }

    body {
      background-color: #f4f4f4; // Light theme background
    }

    .active-card {
      @include mat.card-overrides(
        (
          outlined-outline-color: white,
        )
      );
    }
  }
}

.secondary-button {
  @include mat.button-color($dark-theme, $color-variant: secondary);
}

.error-button {
  @include mat.button-color($dark-theme, $color-variant: error);
}

.active-card {
  @include mat.card-overrides(
    (
      outlined-outline-color: black,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;

  background-color: var(--mat-app-background-color); // Default to dark theme background
  color: var(--mat-app-text-color); // Default to dark theme background
}

/** Fix; Angular Material + TailwindCSS conflict
https://stackoverflow.com/questions/75535246/angular-mat-form-field-not-working-properly-a-border-line-appears-inside-the-f **/
.mdc-notched-outline__notch {
  border-right: none;
}

/* White background on Angular Material text-fields */
.mat-mdc-text-field-wrapper {
  @apply bg-neutral-000 dark:bg-bg-dark;

  .mat-mdc-form-field-icon-suffix {
    @apply p-1 pe-4;
  }
}

.mat-mdc-form-field-focus-overlay {
  @apply bg-neutral-000 dark:bg-bg-dark;
}

/* Fix vertical text alignment in buttons with icons */

.mdc-icon-button > bi {
  vertical-align: 7px;
}

.mdc-fab > .mdc-button__label > bi {
  vertical-align: -0.26rem !important;
}

.mdc-button__label > bi {
  vertical-align: -0.225em;
}

.mat-mdc-chip-action-label > bi {
  vertical-align: -0.19em;
}

.dark {
  /**
     * Backgrounds
     */
  $color-bg-darkest: #13141b;
  $color-bg-darker: #1b1e27;
  $color-bg-dark: #232837;
  $color-bg-med: #2f3646;
  $color-bg-light: #455066;
  $color-bg-lighter: #5b6882;

  /**
     * Text
     */
  $color-text-dark: #72809b;
  $color-text-med-dark: #919db5;
  $color-text-med: #a0aabe;
  $color-text-med-light: #d9dce1;
  $color-text-light: #f0f1f6;
  $color-text-lighter: #fff;

  .ngx-charts {
    text {
      fill: $color-text-med;
    }

    .tooltip-anchor {
      fill: rgb(255, 255, 255);
    }

    .gridline-path {
      stroke: $color-bg-med;
    }

    .refline-path {
      stroke: $color-bg-light;
    }

    .reference-area {
      fill: #fff;
    }

    .grid-panel {
      &.odd {
        rect {
          fill: rgba(255, 255, 255, 0.05);
        }
      }
    }

    .force-directed-graph {
      .edge {
        stroke: $color-bg-light;
      }
    }

    .number-card {
      p {
        color: $color-text-light;
      }
    }

    .gauge {
      .background-arc {
        path {
          fill: $color-bg-med;
        }
      }

      .gauge-tick {
        path {
          stroke: $color-text-med;
        }

        text {
          fill: $color-text-med;
        }
      }
    }

    .linear-gauge {
      .background-bar {
        path {
          fill: $color-bg-med;
        }
      }

      .units {
        fill: $color-text-dark;
      }
    }

    .timeline {
      .brush-background {
        fill: rgba(255, 255, 255, 0.05);
      }

      .brush {
        .selection {
          fill: rgba(255, 255, 255, 0.1);
          stroke: #aaa;
        }
      }
    }

    .polar-chart .polar-chart-background {
      fill: rgb(30, 34, 46);
    }
  }

  .chart-legend {
    .legend-labels {
      background: rgba(255, 255, 255, 0.05) !important;
    }

    .legend-item {
      &:hover {
        color: #fff;
      }
    }

    .legend-label {
      &:hover {
        color: #fff !important;
      }

      .active {
        .legend-label-text {
          color: #fff !important;
        }
      }
    }

    .scale-legend-label {
      color: $color-text-med;
    }
  }

  .advanced-pie-legend {
    color: $color-text-med;

    .legend-item {
      &:hover {
        color: #fff !important;
      }
    }
  }

  .number-card .number-card-label {
    font-size: 0.8em;
    color: $color-text-med;
  }
}
